.custom-banner {
  position: relative;
  min-height: 70vh;
  display: grid;
  align-items: flex-end;
  pointer-events: none;
}

.custom-banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom-banner__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.custom-banner__overlay {
  position: relative;
  z-index: 1;
}

.custom-banner__overlay .page-width {
  width: 100%;
}

.custom-banner__overlay-content {
  width: 24%;
  margin-bottom: -15.5rem;
  margin-left: -2%;
  margin-top: 4rem;
}

.custom-banner__screen {
  aspect-ratio: 435/1165;
  position: relative;
  max-height: 70vh;
}

.custom-banner__screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-banner__content {
  position: absolute;
  top: .5%;
  left: 10%;
  right: 10%;
  height: 47%;
  color: white;
  padding: 2rem;
  pointer-events: auto;
  overflow: hidden;
}

.custom-banner__heading {
  margin: 0 0 1.6rem;
  color: currentColor;
}

@media screen and (max-width: 1200px) {
  .custom-banner__overlay-content {
    margin-bottom: -9%;
  }
}

@media screen and (max-width: 990px) {
  .custom-banner__overlay-content {
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .custom-banner__overlay-content {
    width: 100%;
    margin-bottom: -1rem;
  }

  .custom-banner__screen {
    margin: 0 auto;
  }

}

#shopify-section-template--30963598655836__featured_collection .h1 {
  font-size: calc(var(--font-heading-scale) * 3.5rem)
}
