.custom-banner {
  position: relative;
  min-height: 70vh;
  display: grid;
  align-items: flex-end
}

.custom-banner__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.custom-banner__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.custom-banner__overlay {
  position: relative;
  z-index: 1;
}

.custom-banner__overlay .page-width {
  width: 100%;
}

.custom-banner__overlay-content {
  background: red;
  width: 25%;
  margin-bottom: -4rem;
}

.custom-banner__heading {
  margin: 0 0 1.6rem;
}

@media screen and (max-width: 990px) {
  .custom-banner__overlay-content {
    width: 50%;
  }
}

@media screen and (max-width: 749px) {
  .custom-banner__overlay-content {
    width: 100%;
    margin-bottom: -1rem;
  }
}
